#border {
    position: relative;
    margin: auto;
    height: 200px;
    width: 600px;
    border: 1px solid slategray;

}

h1 {
    margin:auto;
    text-align: center;
    font-family: 'Common Pixel', sans-serif;                                            
}

#counter {
    margin: auto;
    text-align: right;
    font-family: 'Common Pixel', sans-serif;     
}

#dino {
    width: 50px;
    height: 50px;

    position: absolute;
    top: 150px; 

    background-size: 50px 50px;
    background-image: url("/Users/Jabelle/Desktop/seif-10/unit1/student_examples/W5D3/Dino-jump-brainstorm/Dinoleft.png");
}

#obstacle {
    width: 20px;
    height: 20px;

    position: absolute;
    bottom: 0px;
    right: 0px;

    background-color: slategray;
}

.slidingLeft {
    animation: left 2s linear;
}

.moving {
    animation: move 1s infinite;
}

.jumping {
    animation: move 0.2s infinite, jump 1s;
}

@keyframes move {
    0%, 49.99% {background-image: url("/Users/Jabelle/Desktop/seif-10/unit1/student_examples/W5D3/Dino-jump-brainstorm/Dinoleft.png")}
    50%, 100% {background-image: url("/Users/Jabelle/Desktop/seif-10/unit1/student_examples/W5D3/Dino-jump-brainstorm/Dinoright.png")}
}
 

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0.33333, 0.66667, 0.66667, 1);
    }

    50% {
        transform: translateY(-90px);
        animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333);
    }
}

@keyframes left {
    0% {
        left: 500px
    }

    100% {
        left: 0px;
    }
}