
#start-screen {
    position: relative;
    margin: auto;
    height: 200px;
    width: 600px;
    border: 1px solid slategray;
    /* background-image: url("./images/background.png");
    background-size: 500px 300px; */
}

#ground {
    position: absolute;
    width: 300%;
    bottom: 0px;
    /* left: calc(var(--left)*1%) */
    background-image: url("./images/background.png");
    background-size: 500px 300px;

}

#score-screen{
    position: absolute;
    margin: auto;
    height: 200px;
    width: 200px;
    border: 1px solid slategray;
    display: flex;
    flex-direction: column;
}

h1 {
    margin:auto;
    text-align: center;
    font-family: 'Common Pixel', sans-serif;                                            
}

h3 {
    margin:auto;
    text-align: center;
    font-family: 'Common Pixel', sans-serif;      
}

h4 {
    margin:auto;
    text-align: center;
    font-family: 'Common Pixel', sans-serif;      
}

#start-screen {
    position: absolute;
    font-size: 5vim;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#counter {
    margin: auto;
    text-align: right;
    font-family: 'Common Pixel', sans-serif;     
}

#dino {
    width: 50px;
    height: 50px;

    position: absolute;
    top: 150px; 

    background-size: 50px 50px;
    background-image: url("./images/Dinoleft.png")
}

#obstacle {
    width: 40px;
    height: 40px;

    position: absolute;
    bottom: 0px;

    background-image: url("./images/catusOne.png");
    background-size: 40px 40px;
}

#obstacle2 {
    width: 40px;
    height: 40px;

    position: absolute;
    bottom: 0px;

    background-image: url("./images/catusOne.png");
    background-size: 40px 40px;
}

#cloud1 {
    width: 30px;
    height: 30px;

    position: absolute;
    top: 50px;
    right: 50px;

    background-size: 30px 30px;
    background-image: url("./images/cloud.png")
}

#cloud2 {
    width: 30px;
    height: 30px;

    position: absolute;
    top: 30px;
    left: 150px;

    background-size: 30px 30px;
    background-image: url("./images/cloud.png")
}

body {
    font-family: 'Common Pixel';
}

.slidingLeft {
    animation: left 4.5s linear infinite;
}

.slidingLeftSpeedUp {
    animation: left 2.17s linear infinite;
}

.moving {
    animation: move 1s infinite;
}


.jumping {
    animation: move 0.15s infinite, jump 1s;
}

.swaying1 {
    animation: sway1 3s infinite linear;
}

.swaying2 {
    animation: sway2 3s infinite linear;
}

.hideElement {
    display: none;
}

@keyframes move {
    0%, 49.99% {background-image: url("./images/Dinoleft.png")}
    50%, 100% {background-image: url("./images/Dinoright.png")}
}
 

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0.33333, 0.66667, 0.66667, 1);
    }

    50% {
        transform: translateY(-90px);
        animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333);
    }
}

@keyframes left {
    0% {
        left: 500px
    }

    100% {
        left: 0px;
    }
}

@keyframes sway1 {
    0% {
        right: 50px;
    }
    50% {
        right: 30px;
    }
    100% {
        right: 50px;
    }
}

@keyframes sway2 {
    0% {
        left: 150px;
    }
    50% {
        left: 130px;
    }
    100% {
        left: 150px;
    }
}

@font-face {
    font-family: 'Common Pixel';
    font-style: normal;
    font-weight: 400;
    src: local('Common Pixel'), url('https://fonts.cdnfonts.com/s/7553/COMMP___.woff') format('woff');
}